/* Ahmad Rizki Maulana */
/* 121140105_RB */

body {
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    margin: 0;
}


.card {
    background-color: #f1f3f5;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    box-shadow: inset 5px 5px 12px #fff, 5px 5px 12px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.display {
    background-color: #f1f3f5;
    height: 35%;
    width: 100%;
    border-radius: 20px;
    box-shadow: inset 2px 3px 11px rgb(0, 0, 0, 0.16), 5px 5px 12px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display input {
    background-color: transparent;
    border: none;
    text-align: right;
    font-size: 30px;
    width: 90%;
    outline: none;
}


.button {
    height: 65%; 
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}


.tombol-kiri {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-content: space-around;
    align-items: center;
}

.tombol:hover {
    transform: scale(0.9);
}

.tombol {
    background-color: #f1f3f5;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    cursor: pointer;
    font-size: 20px;
    box-shadow: inset 5px 5px 12px #fff, 5px 5px 12px rgb(0, 0, 0, 0.16);
    color: tomato;
}

.tombol-kanan {
    background-color: rgba(255,229,188, 0.671);
    box-shadow: inset 5px 5px 12px rgb(0, 0, 0, 0.16), 5px 5px 12px #e6e3c3;
    width: 30%;
    border-radius: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
